body{
    background-image: url(https://www.arsenal.com/sites/default/files/styles/large_16x9/public/images/mbappe-celeb-real-madrid_qhksqkhg.png?h=d797ae95&auto=webp&itok=y73JTcvA)
}
.sual{
    color: red;
    font-size: 20px;
    font-style: oblique;
}
.suallar1{
    color: green;
    
}
.gonder{
    height: 20px;
}